<app-header></app-header>

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!--SECTION INTRO PRODUCT-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2024/03/Lenovo-Legion-5-Y7000P-3.jpg&w=300&zc=1" alt="Đây là ảnh Laptop">
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/uploads/2023/09/Tai-nghe-DareU-EH469-7.1-RGB.jpg" alt="Đây là ảnh tai nghe">
                    </div>
                    <div class="shop-body">
                        <h3>Tai nghe<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/uploads/2022/09/DAREU-EK810.jpg" alt="Đây là ảnh bàn phím">
                    </div>
                    <div class="shop-body">
                        <h3>Bàn phím<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SECTION INTRO PRODUCT-->

<!-- SECTION SHOP PRODUCT-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section List Products-->
        <div class="col-md-12">
            <div class="row">
                <div class="products-tabs">
                    <div id="tab1" class="tab-pane active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                            <div class="product">
                                <div class="product-img">
                                    <img src="https://laptopxachtayshop.com/uploads/2024/07/Acer-Predator-Helios-Neo-16-PHN16-2.jpg" alt="Đây là hình ảnh laptop">
                                    <div class="product-label">
                                        <span class="sale">30%</span>
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Category</p>
                                    <h3 class="product-name">Laptop gaming</h3>
                                    <h4 class="product-price">$999 <del class="product-old-price">1099</del></h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlish">
                                        <i class="fa fa-heart-o"></i> <span class="tooltipp">ADD TO WISHLIST</span> 
                                    </button>
                                    <button class="">
                                        <i class="fa fa-exchange"></i> <span class="tooltipp">ADD TO COMPARE</span>
                                    </button>
                                    <button class="">
                                        <i class="fa fa-eye"></i> <span class="tooltipp">QUICK VIEW</span>
                                    </button>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>

                            <!--Product 2-->
                            <div class="product">
                                <div class="product-img">
                                    <img src="https://laptopxachtayshop.com/uploads/2023/09/Ban-phim-co-DareU-EK87-Multi-LED-Blue-switch.jpg" alt="Đây là ảnh bàn phím">
                                </div>
                                <div class="product-body">

                                </div>
                                <div class="product-btns">

                                </div>
                                <div class="add-to-cart">

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section List Products-->

    </div>
</div>
<!-- SECTION SHOP PRODUCT-->


<app-footer></app-footer>