<app-header></app-header>

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!--SECTION INTRO PRODUCT-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2024/03/Lenovo-Legion-5-Y7000P-3.jpg&w=300&zc=1" alt="Đây là ảnh Laptop">
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/uploads/2023/09/Tai-nghe-DareU-EH469-7.1-RGB.jpg" alt="Đây là ảnh tai nghe">
                    </div>
                    <div class="shop-body">
                        <h3>Tai nghe<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="https://laptopxachtayshop.com/uploads/2022/09/DAREU-EK810.jpg" alt="Đây là ảnh bàn phím">
                    </div>
                    <div class="shop-body">
                        <h3>Bàn phím<br>Collection</h3>
                        <a href="#" class="cta-btn">Shopping now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SECTION INTRO PRODUCT-->

<!-- SECTION SHOP PRODUCT-->

<!-- SECTION SHOP PRODUCT-->


<app-footer></app-footer>